body {
	background-color: #1a3b4a;
	/*width: 1200px;*/

}
#header{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 100%;
	padding-top: 30px;
	
}
.container{

}
#header-info{
	text-align: center;
	color: white;
}
#hillary-pic img{
	height: 194px;
	width: 259px;
	padding-right: 5px;
}
#click-tweets{
	text-align: center;
	max-width: 1140px;
	color: white;
	background-color: #57c6f9;
	margin-bottom: 10px;
}
#tweets {
	/*width: 100%;*/
	height: 250px;
	max-width: 1140px;
	text-align: center;
	font-size: 25px;
	color: white;
}
input{
	margin-bottom: 25px;
}
button{
	background-color: #79ffff;
	color: black;
}