<div id="twitter-wrapper" class="container">

		<div id="header" class="row" style="background: #347695;" style="width: 100%;">

			<div id="trump-pic" class="col-sm-3">
				<img src="css/trump.jpeg">
				<button id="trump-button"  ng-click="go('/trump')">Trump</button>
			</div>

			<div id="header-info" class="col-sm-6 text-center"><span><h1>2016 Race for the White House</h1></span>  <span><h2>Hillary or the Donald.</h2></span>  Pick your Poison!  Here are tweets about the 2016 election.  Click the buttons for tweets about the specific candidate.  <h2>Enjoy!</h2>
			</div>

			<div id="hillary-pic" class="col-sm-3">
				<img src="css/hillary2.jpeg">
				<button id="hillary-button"  ng-click="go('/hillary')">Hillary</button>
			</div>

		</div>

		<div id="more-tweets" class="row">
			<a href="#" onclick="refreshTweets();"><div id="click-tweets">Click here to refresh the tweets!</div></a>
		</div>

		<div class="row">
			<div id="tweets" class="col-sm-12" ng-repeat="tweet in data"ng-style="{'background-image': 'url(' + tweet.user.profile_banner_url + ')'}" style="height': 250px;">{{tweet.text}} -- {{tweet.user.name}} -- {{tweet.sinceTweeted}} in seconds
				<!-- <img ng-src="{{tweet.user.profile_banner_url}}" /> -->
			</div>
		</div>

	</div>