

	<div id="twitter-wrapper" class="container">

		<div id="header" class="row" style="background: #347695;" style="width: 100%;">

			<div id="trump-pic" class="col-sm-3">
				<img src="../css/trump.jpeg">
			</div>

			<div id="header-info" class="col-sm-6 text-center"><span><h1>2016 Race for the White House</h1></span>  <span><h2>You've chosen The Donald!</h2></span>
			<h2>Enjoy!</h2>
			<form id="trump-search">
				<input type="text" placeholder="Filter your Trump tweets">
				<button ng-click="trump()">Search</button>
			</form>
			</div>

			<div id="trump-pic2" class="col-sm-3">
				<img src="../css/trump.jpeg">
			</div>

		</div>

		<div id="more-tweets" class="row">
			<a href=""><div id="click-tweets" onclick="refreshTweets()">Click here to refresh the tweets!</div></a>
		</div>

		<div class="row">
			<div id="tweets" class="col-sm-12" ng-repeat="tweet in data"ng-style="{'background-image': 'url(' + tweet.user.profile_banner_url + ')'}" style="height': 250px;">{{tweet.text}} -- {{tweet.user.name}} -- {{tweet.sinceTweeted}} in seconds
				<!-- <img ng-src="{{tweet.user.profile_banner_url}}" /> -->
			</div>
		</div>

	</div>
